/*----- COLORS -----*/
:root {
  --dark: #19446B;
}

/*-- FONTS --*/
@font-face {
  font-family: aldrich;
  src: url('../fonts/Aldrich-Regular.ttf');
}

/*--------------- HEADER ---------------*/
.header-container {
  /* outline: red dashed 3px; */
  width: 100%;
}

.header-container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: aldrich;
  color: var(--dark);
}

h1 {
  font-size: 40px;
  margin: 5px 0 0 10px;
}

.header-container p {
  font-size: 25px;
  margin: 5px 10px 0 0;
}