/*----- COLORS -----*/
:root {
  --dark: #19446B;
  --blue: #0F63FE;
}

/*-- FONTS --*/
@font-face {
  font-family: aldrich;
  src: url('../fonts/Aldrich-Regular.ttf');
}

/*--------------- PASSWORD ---------------*/
.password-container {
  /* outline: red dashed 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: aldrich;
}

.display-password {
  /* outline: blue dashed 3px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: var(--dark);
  background-color: #EEEEEE;
  border: var(--dark) solid 3px;
  width: 40%;
  height: 150px;
  margin: 25px 0 15px 0;
}

.password-container button {
  font-size: 15px;
  color: whitesmoke;
  background-color: var(--blue);
  border: none;
  padding: 10px 20px 5px 20px;
  margin: 10px 0 25px 0;
}