/*----- COLORS -----*/
:root {
  --dark: #19446B;
  --blue: #0F63FE;
}

/*-- FONTS --*/
@font-face {
  font-family: aldrich;
  src: url('../fonts/Aldrich-Regular.ttf');
}

/*--------------- PAGE ---------------*/
.prompts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/*--------------- CYBER BACKGROUND ---------------*/
.cyber {
  background-image: url('../images/security.jpeg');
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  margin-top: 0;
}

/*-- PASSWORD DISPLAY --*/
.cyber p {
  font-family: aldrich;
  font-size: 30px;
  color: var(--dark);
}

.display {
  /* outline: red dashed 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background: rgba(255, 255, 255, 0.561);
  backdrop-filter: saturate(180%) blur(10px);
  border-radius: 5px;
  text-align: center;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .display {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
  }
}

/*--------------- PROMPTS ---------------*/
.prompts {
  /* outline: red dashed 3px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: aldrich;
  width: 100%;
}

/*-- HEADING --*/
h2 {
  text-align: center;
  font-size: 35px;
  color: var(--dark);
}

/*-- CRITERIA --*/
.length,
.upper,
.lower,
.number,
.special {
  /* outline: blue dashed 3px; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 30%;
}

/*-- INPUTS --*/
.length input,
.upper input,
.lower input,
.number input,
.special input {
  /* outline: red dashed 3px; */
  width: 50px;
  margin: 0;
}

/*-- PROMPTS --*/
.length p,
.upper p,
.lower p,
.number p,
.special p {
  /* outline: red dashed 3px; */
  font-size: 25px;
  text-align: left;
  width: 80%;
  margin: 10px;
}

/*-- GENERATE BUTTON --*/
.generate {
  font-size: 25px;
  color: whitesmoke;
  background-color: var(--blue);
  border: none;
  padding: 10px 20px 5px 20px;
  margin-top: 20px;
}